.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 40rem; /* Set the height of the container to 100% of the viewport height */
  margin-left: 30rem;
  margin-top: 5rem;
  justify-content: center;
  background-color: rgb(0, 195, 255); /* Set the background color to blue */
}

.app-heading {
  color: rgb(219, 35, 35); /* Set the text color to white */
  margin-bottom: 20px; /* Add some spacing below the heading */
}

.dropdown-container {
  display: flex;
  justify-content: center;
  color: blanchedalmond;
}
